header{
  
  top: 0;
  z-index: 1000;
  width: 100%;
  border: 5px solid rgba(0, 0, 0, 0.97);
  background: rgba(30, 19, 255, 0.95);
  backdrop-filter: blur(4px); /* optional */
}

.mainpage-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 100vh;
  width: 100%;
  margin: 0;
}